@use "sass:math";
@import "styles/scss/base";

$logo-wrapper-height: 48px;
$logo-wrapper-width: math.floor($logo-wrapper-height * 1.375);

.root {
  min-height: 100%;
}

.header {
  padding-block: $base-padding;
  display: grid;
  gap: $base-padding;
  grid-template-columns: $logo-wrapper-width auto;
  z-index: 1;

  &[class*="ant-layout-header"] {
    position: sticky;
    padding-inline: $base-padding;
    width: 100%;
    height: $header_height;
    top: 0;
    background-color: $dark;
  }
}

.logoWrapper {
  margin: auto;
  display: flex;
  width: $logo-wrapper-width;
  height: $logo-wrapper-height;
  justify-content: center;
  align-items: center;
  border: 1px solid $main;
  border-radius: 8px;
}

.body {
  padding: $base-padding;

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  padding-block: $base-padding;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $base-padding;

  &[class*="ant-layout-footer"] {
    padding-inline: $base-padding;
    height: $footer_height;
    background-color: $dark;
  }
}
