@import "scss/base";

html,
body {
  min-height: 100%;
  position: relative;
  font-size: 1rem;
  line-height: normal;
  font-weight: $regular_font_weight;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
  color: $white;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

header {
  max-width: 100vw;
}

main {
  min-height: calc(100% - #{$header_height + $footer_height});
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
